header {
    background-color: #7b8fe2;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #f3aa5f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #fbfa05;
    text-decoration: underline;
}

.trabalhos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.trabalhos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #f3aa5f;
    border-radius: 10px;
}

.trabalhos li:hover {
    border-color: #7b8fe2;
}

.trabalhos li:active {
    border-color: #fbfa05;
}

.trabalhos li:hover h2 {
    font-size: 35px;
}

.trabalhos h2 {
    font-size: 30px;
    font-weight: bold;
}

.trabalhos-desc {
    font-size: 18px;
}

.trabalhos-local {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url('./img/footer.png');
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px 0 0;  
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}