@font-face {
    font-family: 'Press Start 2P';
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}
body {
    background-color: #864eaf;
    color: #f3aa5f;
}
.titulo-centralizado {
    text-align: center;
    color: #fbfa05;
}

#banner {
    width: 80%;
    padding-left: 10%;
}

.titulo-principal {
    padding-left: 20px;
    font-family: 'Press Start 2P';
    font-size: 20px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

a {
    color: #f3aa5f;
}

a:hover {
    color: #fbfa05;
}

em strong {
    color: #fbfa05;
}

.principal {
    padding-left: 12%;
    padding-right: 12%;
}

.skills {
    padding-left: 12%;
    padding-right: 12%;
    background: #6a4275;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}