@import '../helpers/variables';

html,
body {
    margin: 0;
    height: 100%;
}

header {
    background-color: $main-color;
    padding: 20px 0;
}

.container footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box {
    font-size: smaller;
    position: relative;
    margin: 0 auto;

    @media(max-width: 940px) {
        position: static;
    }
}

nav {
    position: absolute;
    right: 0;
    margin-right: 10%;

    li {
        display: inline-block;
        margin: 0 0 0 15px;
    }

    a {
        color: $nav-color;
        text-transform: lowercase;
        font-size: 22px;
        text-decoration: none;
        text-shadow: -4px 3px 1px $shadow-color;

        &:hover {
            color: $nav-color-hover;
            text-decoration: none;
        }

    }
}

body {
    background-color: $main-color;
    font-family: $default-font;
    font-size: small;

    @media(max-width: 940px) {
        font-size: xx-small;
    }
}