//varables
@import '../base/reset';
@import './default';

.main-content {
    margin: 20% auto;
}

.main-title {
    text-align: center;
    color: $nav-color-hover;
    font-size: 3em;
    text-shadow: -5px 3px 2px $shadow-color;
}

@import './footer.scss';