//varables
@import '../base/reset';
@import './default';

.logo {
    @media(max-width: 940px) {
        width: auto;
    }
}

.main-content {
    margin: 20% auto;
}

.main-title {
    text-align: center;
    color: $nav-color-hover;
    font-size: 3em;
    text-shadow: -5px 3px 2px $shadow-color;
    @media(max-width: 940px){
        font-size: 2em;
        padding-top: 10%;
    }
}

@import './footer.scss';